name: CI

on:
  - push
  - pull_request

jobs:
  tests:
    name: Unittests & Coverage-Report

    env:
      PHP_EXTENSIONS: json, curl, zip
      PHP_INI_VALUES: memory_limit=-1

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: actions/cache@v2.1.5
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          extensions: ${{ env.PHP_EXTENSIONS }}
          ini-values: ${{ env.PHP_INI_VALUES }}

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --no-interaction --no-suggest

      - name: Run unittests
        run: bin/phpunit  --coverage-clover coverage.xml

      - name: Send code coverage report to Codecov.io
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests # optional
          files: ./coverage.xml
